# Synapse Initiative Updates {{ today }}

## TL;DR

{{ mark TLDR }}

## Initiative Details

{{ set synapseInitiatives = await github.issuesForProject("github", 21922, "Initiative") }}

{{ for issue of synapseInitiatives }}
### {{ issue.title() }}
{{- set update = await issue.latestUpdate() -}}
{{- update.renderBody() -}}
{{ /for }}

{{ hoist TLDR = await memory.renderSummary("TLDR_PROMPT") }}
