# Synapse Initiative Updates {{ today }}

## TL;DR

{{ mark TLDR }}

## Initiative Details

{{ set synapseInitiatives = await client.issuesForProject("github", 21922, "Initiative", "Project Layer").all() }}

{{ for issue of synapseInitiatives }}
### {{ issue.title() }}
{{- set update = await issue.latestUpdate() -}}
{{- update.renderBody() -}}
{{ /for }}

{{ hoist TLDR = await client.renderSummary("TLDR_PROMPT") }}
